$pillWidth: 6rem;
$pillSpacing: .5rem;
$highlightSize: 80px;

:export {
  pillWidth: $pillWidth;
  pillSpacing: $pillSpacing;
  highlightSize: $highlightSize;
}


.allHours {
  display: flex;
  width: 100%;
  overflow: scroll;
  margin-top: var(--spacing-05);

  padding-left: 2rem;
  
  -ms-overflow-style: none;
  position: relative;
  // scroll-behavior: smooth;
  &.noScrollSnap {
    scroll-snap-type: none;
  }
  &.animateScroll {
    scroll-behavior: smooth;
    scroll-snap-type: proximity x; 
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.hourContainer {
  scroll-snap-align: start;
  display: flex;
  // border-left: 1px solid grey;
  // padding-left: var(--spacing-04);
  text-align: left;
  flex-shrink: 0;
  width: $pillWidth;
  padding-left: $pillSpacing/2;
  padding-right: $pillSpacing/2;
  padding-bottom: 2rem;
  padding-top: 1rem;
  user-select: none;
  
  transition: .2s;

  &:hover {
    // a {
    //   font-weight: 700;
    // }
    transform: scale(1.06);
    // transform: scale(2);
  }
  
  &.isFirst {
    margin-left: var(--spacing-04);
    background: green;
    content: "isFirst";
  }
  &.isLast {
    margin-right: var(--spacing-04);
    
    content: "isLast";
  }
}


.marker {
  display: block;
  width: 1px;
  background: red;
  position: absolute;
  pointer-events: none;
}


.tileIsHovered {
  // background: red;
}


.hourPill {
  background: var(--white);
  border-radius: .75rem;
  height: 4rem;
  margin-top: 1.5rem;
  width: 100%;
  position: relative;
  overflow: hidden;
  // margin-left: $pillSpacing/2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  // box-shadow: 0px 0px 38px 0px #ebebeb;
  // transition: 0.05s
  transition: .05s background;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

  &:hover {
    background: var(--gray-20);
    cursor: pointer;
  }
  &.isActive {
    margin-right: 0;
    margin-left: 0;
  }
  .blurHighlight {
    width: $highlightSize;
    height: $highlightSize;
    background: white;
    position: absolute;
    left: $highlightSize * -0.5;
    top: $highlightSize * -0.5;
    content: " ";
    filter: blur(10px);
    opacity: .3;
    display: block;
    pointer-events: none;
    z-index: 2;
    border-radius: 10rem;
  }
}

.isHighlighted {
  .hourPill {
    background: var(--main-01);
    .hourLabel {
      color: white;
    }
    .blurHighlight {
      background: var(--main-01--hover);
    }
  }
}


.hourLabel {
  text-align: center;
  height: 1rem;
  font-size: 12px;
  color: rgb(65, 65, 65);
  position: relative;
  z-index: 3;
}

.groupContainer {
  background: var(--gray-10);
  width: 20rem;
  border-radius: 1rem;
  margin-top: 1.5rem;
  background: grey;
  padding-right: $pillSpacing/2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}